$cafe: #743c20;
$cafeClaro: #92624a;

//asignar a la paleta de colores de bootstrap//
$primary: $cafe;
$secondary: $cafeClaro;

//tipogarfia//
$display-font-weight: 900;
$heading-font-weight: 700;

// card
$card-border-color: transparent;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";