$cafe: #743c20;
$cafeClaro: #92624a;
$gris:#B5B5B5;

//asignar a la paleta de colores de bootstrap//
$primary: $cafe;
$secondary: $cafeClaro;

//tipogarfia//
$display-font-weight: 900;
$heading-font-weight: 700;

// card
$card-border-color: transparent;

// navlink

$nav-link-padding-x: 0;
$nav-link-color: $gris;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";